{
    "openapi": "3.0.1",
    "info": {
        "title": "Carbon Planner API Specification",
        "description": "Swagger for Carbon Planner API Specification",
        "version": "v1.0"
    },
    "servers": [
        {
            "url": "https://ob.sandbox.natwest.com/zerocode/futuresoln.org/CP-API-Specification/v1.0"
        }
    ],
    "tags": [
        {
            "name": "User Controller",
            "description": "User Controller"
        },
        {
            "name": "Sync Status",
            "description": "Sync Status"
        }
    ],
    "paths": {
        "/open/api/v1/users/registration": {
            "post": {
                "tags": [
                    "User Controller"
                ],
                "summary": "Create new guest user record into database",
                "operationId": "createNewGuestUserRecord",
                "requestBody": {
                    "description": "UserRequest",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/UserRequest"
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "201": {
                        "description": "Created",
                        "content": {}
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {}
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {}
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {}
                    }
                },
                "deprecated": false,
                "x-codegen-request-body-name": "UserRequest"
            }
        },
        "/secure/api/v1/users/all": {
            "get": {
                "tags": [
                    "User Controller"
                ],
                "summary": "Retrieve all users",
                "operationId": "getAllUsers",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {}
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {}
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {}
                    }
                },
                "deprecated": false
            }
        },
        "/secure/api/v1/users/{username}": {
            "get": {
                "tags": [
                    "User Controller"
                ],
                "summary": "Retrieve the details of a User based on username",
                "operationId": "retriveUserDetailsByUsername",
                "parameters": [
                    {
                        "name": "username",
                        "in": "path",
                        "description": "username",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsersDetailsResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {}
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {}
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {}
                    }
                },
                "deprecated": false
            }
        },
        "/secure/api/v1/users/{userId}": {
            "get": {
                "tags": [
                    "User Controller"
                ],
                "summary": "Retrieve the details of a User based on userId",
                "operationId": "getUserDeatilsByUserId",
                "parameters": [
                    {
                        "name": "userId",
                        "in": "path",
                        "description": "userId",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "*/*": {
                                "schema": {
                                    "$ref": "#/components/schemas/UsersDetailsResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {}
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {}
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {}
                    }
                },
                "deprecated": false
            }
        },
        "/secure/api/v1/users/{userid}": {
            "delete": {
                "tags": [
                    "User Controller"
                ],
                "summary": "Delete the user details",
                "operationId": "deleteAllUsers",
                "parameters": [
                    {
                        "name": "userid",
                        "in": "path",
                        "description": "userid",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "202": {
                        "description": "user deleted successfully",
                        "content": {}
                    },
                    "204": {
                        "description": "no content",
                        "content": {}
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {}
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {}
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {}
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/purchase-profile/sync-status": {
            "post": {
                "tags": [
                    "Purchases"
                ],
                "summary": "Sync Status",
                "operationId": "Sync Status",
                "requestBody": {
                    "description": "SyncStatus",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/StatusRequest"
                            }
                        }
                    }
                },
                "required": true,
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {}
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {}
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {}
                    },
                    "404": {
                        "description": "Not Found",
                        "content": {}
                    }
                },
                "deprecated": false
            }
        }
    },
    "components": {
        "schemas": {
            "UserRequest": {
                "type": "object",
                "properties": {
                    "email": {
                        "type": "string"
                    },
                    "userName": {
                        "type": "string"
                    },
                    "jobTitle": {
                        "type": "object"
                    },
                    "termsAndConditions": {
                        "type": "string"
                    },
                    "marketingPreferences": {
                        "type": "string"
                    }
                }
            },
            "StatusRequest": {
                "type": "object",
                "properties": {
                    "batchId": {
                        "type": "string"
                    },
                    "syncStatus": {
                        "type": "string"
                    },
                    "sourceSystem": {
                        "type": "string"
                    }
                }
            },
            "UsersDetailsResponse": {
                "type": "object",
                "properties": {
                    "id": {
                        "type": "integer"
                    },
                    "iamUserId": {
                        "type": "string"
                    },
                    "password": {
                        "type": "string"
                    },
                    "companyId": {
                        "type": "string"
                    },
                    "iamCompanyId": {
                        "type": "string"
                    },
                    "email": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string"
                    },
                    "status": {
                        "type": "string"
                    },
                    "jobTitle": {
                        "type": "string"
                    },
                    "passwordLastUpdated": {
                        "type": "string"
                    },
                    "userTag": {
                        "type": "string"
                    },
                    "lastLogin": {
                        "type": "string"
                    },
                    "termsAndConditions": {
                        "type": "boolean"
                    },
                    "termsAndConditionsAccepted": {
                        "type": "string"
                    },
                    "contactForSupport": {
                        "type": "boolean"
                    },
                    "contactForSupportAccepted": {
                        "type": "string"
                    },
                    "forcePasswordChange": {
                        "type": "boolean"
                    },
                    "deletedFlag": {
                        "type": "boolean"
                    },
                    "createdAt": {
                        "type": "string"
                    },
                    "createdAtStamp": {
                        "type": "string"
                    },
                    "updatedAtStamp": {
                        "type": "string"
                    },
                    "role": {
                        "type": "string"
                    },
                    "failedLoginAttempts": {
                        "type": "integer"
                    },
                    "isAdminSwapped": {
                        "type": "string"
                    },
                    "oldAdminEmailId": {
                        "type": "string"
                    },
                    "isAccountLocked": {
                        "type": "boolean"
                    },
                    "isFirstAdmin": {
                        "type": "boolean"
                    },
                    "internalUsecase": {
                        "type": "string"
                    },
                    "changeEmailTo": {
                        "type": "string"
                    },
                    "racfId": {
                        "type": "string"
                    },
                    "authorities": {
                        "type": "object",
                        "properties": {
                            "authority": {
                                "type": "string"
                            }
                        }
                    },
                    "enabled": {
                        "type": "boolean"
                    },
                    "accountNonExpired": {
                        "type": "boolean"
                    },
                    "accountNonLocked": {
                        "type": "boolean"
                    },
                    "credentialsNonExpired": {
                        "type": "boolean"
                    },
                    "userName": {
                        "type": "string"
                    }
                }
            }
        }
    }
}