{
    "openapi": "3.0.0",
    "info": {
        "title": "FX Holiday Calendar API Specification",
        "description": "OAS3 for FX Holiday Calendar API",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.natwest.com/trading-data/trading-dates/v1",
            "description": "Production"
        },
        {
            "url": "https://ob.sandbox.natwest.com/zerocode/trading-dates.org/FXHolidayCalendar/v1",
            "description": "Sandbox"
        }
    ],
    "paths": {
        "/holiday-calendar/fx": {
            "post": {
                "summary": "Get Holiday Calendar by currency",
                "tags": [
                    "Holiday Calendar"
                ],
                "operationId": "get-holiday-calendar-fx",
                "parameters": [
                    {
                        "name": "authorisation",
                        "in": "header",
                        "description": "Authorization Token",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "ccyList",
                        "in": "body",
                        "description": "ISO code of the currencies for which holidays are required.",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "example": "GBP,EUR,USD"
                    },
                    {
                        "name": "startDate",
                        "in": "body",
                        "description": "Start date (optional field) from when holidays should be returned (can be in the past or future). If Start date is not specified, and End Date is specified, then Start date is taken as minus 90 days from End Date. If both dates are not present, the Start Date is taken as Today’s date and End date is taken as plus 90 days from Start Date.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2004-01-01"
                    },
                    {
                        "name": "endDate",
                        "in": "body",
                        "description": "End date (optional field) from after which holidays should not be returned (can be in the past). If End Date field is not specified, and Start Date is specified, then End date is taken as plus 90 days from Start Date.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "2004-01-31"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/fxHolidayCalendarResponse"
                                },
                                "example": {
                                    "data": {
                                        "holidayCalendar": {
                                            "holidays": [
                                                {
                                                    "date": "2023-05-29",
                                                    "currency": "USD"
                                                },
                                                {
                                                    "date": "2023-05-29",
                                                    "currency": "GBP"
                                                },
                                                {
                                                    "date": "2023-06-19",
                                                    "currency": "USD"
                                                },
                                                {
                                                    "date": "2023-07-04",
                                                    "currency": "USD"
                                                }
                                            ],
                                            "calendarEnd": "2023-07-04",
                                            "calendarCreationDate": "2023-03-25",
                                            "calendarStart": "2023-05-29"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Forbidden"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "MethodNotAllowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MethodNotAllowed"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "UnsupportedMediaType",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnsupportedMediaType"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "UnprocessableEntity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnprocessableEntity"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "ServerError",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "TPPOAuth2Security": [
                            "fx-holiday-calendar:search"
                        ]
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "TPPOAuth2Security": {
                "type": "oauth2",
                "description": "TPP client credential authorisation flow with the ASPSP",
                "flows": {
                    "clientCredentials": {
                        "tokenUrl": "https://ob.sandbox.natwest.com/token",
                        "scopes": {
                            "fx-holiday-calendar:search": "Retrieve FX Holiday Calendar"
                        }
                    }
                }
            }
        },
        "schemas": {
            "fxHolidayCalendarResponse": {
                "title": "FX Holiday Calendar Get Response",
                "required": [
                    "data"
                ],
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/fxdata"
                    }
                }
            },
            "fxdata": {
                "title": "Data",
                "type": "object",
                "properties": {
                    "holidayCalendar": {
                        "$ref": "#/components/schemas/fxholidaycalendar"
                    }
                }
            },
            "fxholidaycalendar": {
                "title": "Holiday Calendar",
                "type": "object",
                "required": [
                    "calendarCreationDate",
                    "calendarStartDate",
                    "calendarEndDate"
                ],
                "properties": {
                    "calendarCreationDate": {
                        "type": "string",
                        "description": "The date the calendar was last updated",
                        "format": "date-time"
                    },
                    "calendarStartDate": {
                        "type": "string",
                        "description": "Date of the first holiday for the requested currency, may be later than the requested start date. If secondary currency has been requested then the start date will be the earliest common date for which holidays are defined.",
                        "format": "date"
                    },
                    "calendarEndDate": {
                        "type": "string",
                        "description": "The last date for which the calendar is valid, may be earlier than the requested end date. If secondary currency has been requested then the end date will be the last common date for which holidays are defined.",
                        "format": "date"
                    },
                    "holidays": {
                        "$ref": "#/components/schemas/fxholiday"
                    }
                }
            },
            "fxholiday": {
                "title": "Holiday",
                "type": "object",
                "required": [
                    "currency",
                    "date",
                    "description"
                ],
                "properties": {
                    "currency": {
                        "type": "string",
                        "description": "The currency for which the date is a holiday",
                        "format": "string"
                    },
                    "date": {
                        "type": "string",
                        "description": "The date of the holiday",
                        "format": "date"
                    }
                }
            },
            "Currencies": {
                "type": "string",
                "enum": [
                    "AED",
                    "ANG",
                    "ARS",
                    "AUD",
                    "BBD",
                    "BHD",
                    "BMD",
                    "BRL",
                    "CAD",
                    "CHF",
                    "CLP",
                    "CNH",
                    "CNY",
                    "COP",
                    "CZK",
                    "DKK",
                    "EGP",
                    "EUR",
                    "GBP",
                    "HKD",
                    "HUF",
                    "IDR",
                    "ILS",
                    "INR",
                    "JOD",
                    "JPY",
                    "KES",
                    "KRW",
                    "KWD",
                    "KZT",
                    "MAD",
                    "MUR",
                    "MXN",
                    "MYR",
                    "NGN",
                    "NOK",
                    "NZD",
                    "OMR",
                    "PEN",
                    "PHP",
                    "PLN",
                    "QAR",
                    "RON",
                    "RUB",
                    "SAR",
                    "SEK",
                    "SGD",
                    "THB",
                    "TND",
                    "TRY",
                    "TWD",
                    "USD",
                    "ZAR"
                ]
            },
            "BadRequest": {
                "description": "Bad Request",
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "description": "HTTP status code",
                        "example": "400"
                    },
                    "title": {
                        "type": "string",
                        "description": "Message describing the error",
                        "example": "Bad Request"
                    },
                    "description": {
                        "type": "string",
                        "description": "Syntactic Error code",
                        "example": "You sent a request we did not understand."
                    }
                }
            },
            "Unauthorized": {
                "description": "Unauthorized",
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "description": "HTTP status code",
                        "example": "401"
                    },
                    "title": {
                        "type": "string",
                        "description": "Message describing the error",
                        "example": "Unauthorized"
                    },
                    "description": {
                        "type": "string",
                        "description": "Syntactic Error code",
                        "example": "Access credentials not present or invalid."
                    }
                }
            },
            "Forbidden": {
                "description": "Forbidden",
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "description": "HTTP status code",
                        "example": "403"
                    },
                    "title": {
                        "type": "string",
                        "description": "Message describing the error",
                        "example": "Forbidden"
                    },
                    "description": {
                        "type": "string",
                        "description": "Syntactic Error code",
                        "example": "Forbidden"
                    }
                }
            },
            "NotFound": {
                "description": "Not Found",
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "description": "HTTP status code",
                        "example": "404"
                    },
                    "title": {
                        "type": "string",
                        "description": "Message describing the error",
                        "example": "Not Found"
                    },
                    "description": {
                        "type": "string",
                        "description": "Syntactic Error code",
                        "example": "You sent a request for a resource that does not exist."
                    }
                }
            },
            "MethodNotAllowed": {
                "description": "Method Not Allowed",
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "description": "HTTP status code",
                        "example": "405"
                    },
                    "title": {
                        "type": "string",
                        "description": "Message describing the error",
                        "example": "Method Not Allowed"
                    },
                    "description": {
                        "type": "string",
                        "description": "Syntactic Error code",
                        "example": "Method Not Allowed"
                    }
                }
            },
            "UnsupportedMediaType": {
                "description": "Unsupported Media Type",
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "description": "HTTP status code",
                        "example": "415"
                    },
                    "title": {
                        "type": "string",
                        "description": "Message describing the error",
                        "example": "Unsupported Media Type"
                    },
                    "description": {
                        "type": "string",
                        "description": "Syntactic Error code",
                        "example": "Unsupported Media Type"
                    }
                }
            },
            "UnprocessableEntity": {
                "description": "Unprocessable Entity",
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "description": "HTTP status code",
                        "example": "422"
                    },
                    "title": {
                        "type": "string",
                        "description": "Message describing the error",
                        "example": "Unprocessable Entity"
                    },
                    "description": {
                        "type": "string",
                        "description": "Syntactic Error code",
                        "example": "Unprocessable Entity"
                    }
                }
            },
            "ServerError": {
                "description": "ServerError",
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "description": "HTTP status code",
                        "example": "500"
                    },
                    "title": {
                        "type": "string",
                        "description": "Message describing the error",
                        "example": "Internal Server Error"
                    },
                    "description": {
                        "type": "string",
                        "description": "Syntactic Error code",
                        "example": "Our backend is non-functional, please try again later."
                    }
                }
            }
        }
    }
}