{
    "openapi": "3.0.1",
    "info": {
        "title": "All FXMP External API's",
        "description": "All FXmicropay External API's are integrated here so that user can view the sample request and response of all of them with description.",
        "contact": {
            "name": "API Support",
            "email": "lnwmdigitalglobal@natwestmarkets.com"
        },
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.natwest.com/fxmicropay/v3",
            "description": "PROD"
        }
    ],
    "paths": {
        "/rates": {
            "post": {
                "summary": "Get Rates",
                "tags": [
                    "Rates"
                ],
                "operationId": "get-rate-quotes",
                "parameters": [
                    {
                        "name": "authorisation",
                        "in": "header",
                        "description": "Authorization Token",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/RatesRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RatesResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Forbidden"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "UnsupportedMediaType",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnsupportedMediaType"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "UnprocessableEntity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnprocessableEntity"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "ServerError",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InternalServer"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "TPPOAuth2Security": [
                            "rates-api:search"
                        ]
                    }
                ]
            }
        },
        "/transactions": {
            "post": {
                "summary": "Submit Transactions API",
                "tags": [
                    "Transactions"
                ],
                "operationId": "get-transactions",
                "parameters": [
                    {
                        "name": "authorisation",
                        "in": "header",
                        "description": "Authorization Token",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "description": "Trade against a previously issued guaranteed Rate Quote Offered, by including the rateQuoteID in the request",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/TransactionRequest"
                            },
                            "example": "{\n  \"schemeId\": 1234,\n  \"transactionType\": \"Quoted\",\n  \"transactionRequests\": [\n    {\n      \"segmentId\": 97617,\n      \"counterparty1\": \"97617\",\n      \"counterparty2\": \"97617\",\n      \"customField1\": \"97617\",\n      \"customField2\": \"97617\",\n      \"dealtAmount\": 97617,\n      \"dealtCurrency\": \"97617\",\n      \"rateQuoteId\": 97617,\n      \"schemeBatchId\": \"97617\",\n      \"schemeTransactionId\": \"97617\",\n      \"schemeDateTime\": \"97617\",\n      \"originalTransactionId\": \"97617\",\n      \"originalSchemeTransactionId\": \"97617\"\n    }\n  ]\n}"
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Response Schema for All Transactions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/QuotedCurrentTransactionResponse"
                                },
                                "example": " [\n                    {\n                      \"transactionId\": 32163,\n                      \"schemeTransactionId\": \"125\",\n                      \"effectiveRate\": 1.5113322,\n                      \"schemeBuyCurrency\": \"GBP\",\n                      \"schemeBuyAmount\": 100,\n                      \"schemeSellCurrency\": \"USD\",\n                      \"schemeSellAmount\": 151.13,\n                      \"statusCode\": 101,\n                      \"statusMessage\": \"Transaction accepted, everything OK.\",\n                      \"receivedDateTime\": \"2016-06-30 13:43:39\",\n                      \"tradeDate\": \"2016-06-30\"\n                    }\n                  ]"
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "UnsupportedMediaType",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnsupportedMediaType"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "UnprocessableEntity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnprocessableEntity"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "ServerError",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InternalServer"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "TPPOAuth2Security": [
                            "rates-api:search"
                        ]
                    }
                ]
            }
        },
        "/payments": {
            "post": {
                "summary": "Submit Payment API",
                "tags": [
                    "Payments"
                ],
                "operationId": "get-payment-status",
                "parameters": [
                    {
                        "name": "authorisation",
                        "in": "header",
                        "description": "Authorization Token",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/PaymentsRequestBody"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/PaymentsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Forbidden"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "UnsupportedMediaType",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnsupportedMediaType"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "UnprocessableEntity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnprocessableEntity"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "ServerError",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InternalServer"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "TPPOAuth2Security": [
                            "rates-api:search"
                        ]
                    }
                ]
            }
        },
        "/settlementAdvices": {
            "post": {
                "summary": "Submit Settlement Advice",
                "tags": [
                    "Settlement Advice"
                ],
                "operationId": "get-settlement-advice",
                "parameters": [
                    {
                        "name": "authorisation",
                        "in": "header",
                        "description": "Authorization Token",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/SettlementAdviceRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/SettlementAdviceResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Forbidden"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "UnsupportedMediaType",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnsupportedMediaType"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "UnprocessableEntity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnprocessableEntity"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "ServerError",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InternalServer"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "TPPOAuth2Security": [
                            "rates-api:search"
                        ]
                    }
                ]
            }
        },
        "/report": {
            "post": {
                "summary": "Netting Report",
                "tags": [
                    "Reports"
                ],
                "operationId": "get-fxmp-reports",
                "parameters": [
                    {
                        "name": "authorisation",
                        "in": "header",
                        "description": "Authorization Token",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/FXMPReportsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FXMPReportsResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Forbidden"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "UnsupportedMediaType",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnsupportedMediaType"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "UnprocessableEntity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnprocessableEntity"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "ServerError",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/InternalServer"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "TPPOAuth2Security": [
                            "rates-api:search"
                        ]
                    }
                ]
            }
        },
        "/api": {
            "post": {
                "summary": "XML RPC API",
                "tags": [
                    "XMLRPC"
                ],
                "operationId": "get-XMLRPC",
                "parameters": [
                    {
                        "name": "authorisation",
                        "in": "header",
                        "description": "Authorization Token",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/xml": {
                            "example": "<methodCall>\n    <methodName>scheme.getAllRates</methodName>\n    <params>\n        <param>\n            <value>\n                <i4>25000</i4>\n            </value>\n        </param>\n    </params>\n</methodCall>",
                            "schema": {
                                "$ref": "#/components/schemas/XMLRPCRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Successful Request",
                        "content": {
                            "application/xml": {
                                "example": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<methodResponse>\n    <params>\n        <param>\n            <value>\n                <array>\n                    <data>\n                        <value>\n                            <struct>\n                                <member>\n                                    <name>rate</name>\n                                    <value>\n                                        <double>1.05777</double>\n                                    </value>\n                                </member>\n                                <member>\n                                    <name>tenorDays</name>\n                                    <value>\n                                        <i4>2</i4>\n                                    </value>\n                                </member>\n                                <member>\n                                    <name>valueDate</name>\n                                    <value>\n                                        <dateTime.iso8601>20231025T00:00:00</dateTime.iso8601>\n                                    </value>\n                                </member>\n                                <member>\n                                    <name>rateQuoteId</name>\n                                    <value>3292934033</value>\n                                </member>\n                                <member>\n                                    <name>unitCurrency</name>\n                                    <value>EUR</value>\n                                </member>\n                                <member>\n                                    <name>isRevoked</name>\n                                    <value>\n                                        <boolean>0</boolean>\n                                    </value>\n                                </member>\n                                <member>\n                                    <name>segmentId</name>\n                                    <value>\n                                        <i4>50001</i4>\n                                    </value>\n                                </member>\n                                <member>\n                                    <name>expiryDateTime</name>\n                                    <value>\n                                        <dateTime.iso8601>20240131T05:16:46</dateTime.iso8601>\n                                    </value>\n                                </member>\n                                <member>\n                                    <name>schemeSellCurrency</name>\n                                    <value>USD</value>\n                                </member>\n                                <member>\n                                    <name>isExecutable</name>\n                                    <value>\n                                        <boolean>1</boolean>\n                                    </value>\n                                </member>\n                                <member>\n                                    <name>schemeBuyCurrency</name>\n                                    <value>EUR</value>\n                                </member>\n                            </struct>\n                        </value>\n                    </data>\n                </array>\n            </value>\n        </param>\n    </params>\n</methodResponse>",
                                "schema": {
                                    "$ref": "#/components/schemas/XMLRPCResponse"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/Forbidden"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "UnsupportedMediaType",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnsupportedMediaType"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "UnprocessableEntity",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnprocessableEntity"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "ServerError",
                        "content": {
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/InternalServer"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "XMLRPCRequest": {
                "type": "object",
                "properties": {
                    "methodCall": {
                        "type": "object",
                        "properties": {
                            "methodName": {
                                "type": "string"
                            },
                            "params": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "param": {
                                            "type": "array",
                                            "items": {
                                                "type": "object",
                                                "properties": {
                                                    "value": {
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "RatesRequest": {
                "type": "object",
                "properties": {
                    "schemeId": {
                        "type": "string",
                        "description": "The unique ID assigned to the Scheme by FXmicropay.",
                        "example": "ABC"
                    },
                    "segmentId": {
                        "description": "The unique ID assigned by FXmicropay to the Segment that received the rate quote upon which the transaction is being placed.",
                        "type": "integer",
                        "example": "123"
                    },
                    "schemeBuyCurrency": {
                        "description": "The scheme buy currency (FXmicropay sell currency), represented by the currency's 3-character ISO code. Max length(3).",
                        "type": "string",
                        "example": "test"
                    },
                    "schemeSellCurrency": {
                        "description": "The scheme sell currency (FXmicropay buy currency), represented by the currency's 3-character ISO code. Max length(3).",
                        "type": "string",
                        "example": "test"
                    },
                    "tenorDays": {
                        "description": "The number of business days from the trade date that transactions executed on the rate will settle.",
                        "type": "integer",
                        "example": "12"
                    },
                    "unitCurrency": {
                        "description": "The currency of which a single unit is bought or sold at the price expressed by the rate. For example if a GBPUSD rate is expressed as 1.41, to mean GBP 1 buys or sells USD 1.41, then GBP is the unit currency. Represented by the currency's 3-character ISO code. Max length(3).",
                        "type": "string",
                        "example": "AED"
                    },
                    "valueDate": {
                        "description": "Value date of trade in UTC time zone.",
                        "type": "string",
                        "format": "date-time"
                    }
                }
            },
            "PaymentsRequestBody": {
                "type": "object",
                "properties": {
                    "schemeId": {
                        "type": "string",
                        "description": "The unique ID assigned to the Scheme by FXmicropay.",
                        "example": "ABC"
                    },
                    "paymentRequests": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "schemePaymentId": {
                                    "description": "A unique identifier assigned to the payment, which can be used to reconcile with FXmicropay. A unique identifier should be assigned per logical payment; i.e. if a payment cannot be placed first time, when attempting to place it for the second time the same payment id should be retained. Max length(50).",
                                    "type": "string",
                                    "example": "test"
                                },
                                "schemePaymentDate": {
                                    "description": "The date in UTC time zone on which the payment will be made",
                                    "type": "string",
                                    "format": "date-time",
                                    "example": "2023-10-09T08:52:14.062Z"
                                },
                                "counterparty1": {
                                    "description": "The unique identifier, assigned by the Scheme, for the counterparty against which FXmicropay should execute the transaction. Required even when only one counterparty  is registered. Max length(20)",
                                    "type": "string",
                                    "example": "1"
                                },
                                "counterparty2": {
                                    "description": "An additional counterparty identifier that can be used by Schemes to represent the counterparty they are interacting with (e.g. a customer reference). If this field is not required by the client, it should be set to the same value as Scheme Counterparty ID 1. Max length(20)",
                                    "type": "string",
                                    "example": "1"
                                },
                                "customField1": {
                                    "description": "A custom field that can be used to associate additional reference information with the transaction. FXmicropay will store but otherwise ignore this value e.g. an additional counterparty identifier that can be used by Schemes to represent the counterparty they are interacting with (e.g. a customer reference). Max length(255).",
                                    "type": "string",
                                    "example": "cust field1"
                                },
                                "customField2": {
                                    "description": "A custom field that can be used to associate additional reference information with the transaction. FXmicropay will store but otherwise ignore this value e.g. an additional counterparty identifier that can be used by Schemes to represent the counterparty they are interacting with (e.g. a customer reference). Max length(255).",
                                    "type": "string",
                                    "example": "cust field2"
                                },
                                "paymentCurrency": {
                                    "description": "The currency for which the Scheme is specifying a payment amount. The currency is specified using its 3-character ISO code. Max length(3)",
                                    "type": "string",
                                    "example": "AED"
                                },
                                "paymentAmount": {
                                    "description": "The payment amount, in the currency of record. This amount will never be adjusted.",
                                    "type": "string",
                                    "example": "1"
                                },
                                "schemeBatchId": {
                                    "description": "The unique ID that identifies to which batch this transaction belongs. Max length(20).",
                                    "type": "string",
                                    "example": "1"
                                },
                                "schemeDateTime": {
                                    "description": "The date and time in the Scheme's chosen time zone at which the transaction was created and submitted.",
                                    "type": "string",
                                    "format": "date-time",
                                    "example": "2023-10-09T08:52:14.062Z"
                                }
                            }
                        }
                    }
                }
            },
            "SettlementAdviceRequest": {
                "type": "object",
                "properties": {
                    "schemeId": {
                        "type": "integer",
                        "description": "The unique ID assigned to the Scheme by FXmicropay.",
                        "example": 12
                    },
                    "settlementAdviceRequests": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "dealtAmount": {
                                    "type": "number",
                                    "description": "The original transaction amount, in the currency of record.",
                                    "example": 1.01
                                },
                                "dealtCurrency": {
                                    "type": "string",
                                    "description": "The currency for which the Scheme is specifying a transaction amount. The currency is specified using its 3-character ISO code. This must be one of the currencies associated with the original transaction. Max length(3).",
                                    "example": "AED"
                                },
                                "settledAmount": {
                                    "type": "number",
                                    "description": "The actual amount that was settled. Calculated as: Dealt Amount * Settlement rate",
                                    "example": 1.01
                                },
                                "settledCurrency": {
                                    "type": "string",
                                    "description": "The currency the transaction is settled in. This should be the Contra Currency. Maxlength(3)",
                                    "example": "AED"
                                },
                                "settlementRate": {
                                    "type": "number",
                                    "description": "Actual FX Rate used to settle the transaction. The settled rate is quoted so that Settled Amount is calculated as: Dealt Amount * Settlement Rate",
                                    "example": 1.01
                                },
                                "schemeTransactionId": {
                                    "type": "string",
                                    "description": "A unique identifier assigned to the settlement advice which can be used to reconcile with Fxmicropay. A unique identifier should be assigned per logical settlement advice; i.e. if a settlement advice cannot be placed first time, when attempting to place it for the second time the same settlement advice id should be retained. Max length(50).",
                                    "example": "ABC"
                                },
                                "linkedSchemeTransactionId": {
                                    "type": "string",
                                    "description": "The original Scheme transaction ID against which this settlement advice belongs. Max length(50).",
                                    "example": "ABC"
                                },
                                "linkedTransactionId": {
                                    "type": "integer",
                                    "description": "The original FXmicropay transaction ID against which this settlement advice belongs.",
                                    "example": 1
                                },
                                "schemeBatchId": {
                                    "type": "string",
                                    "description": "The unique ID that identifies to which batch this transaction belongs. Max length(20)."
                                },
                                "schemeDateTime": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The date and time in the Scheme's chosen time zone at which the transaction was created and submitted."
                                },
                                "customField1": {
                                    "type": "string",
                                    "example": "cust-field1",
                                    "description": "A custom field that can be used to associate additional reference information with the transaction. FXmicropay will store but otherwise ignore this value e.g. an additional counterparty identifier that can be used by Schemes to represent the counterparty they are interacting with (e.g. a customer reference). Max length(255)."
                                },
                                "customField2": {
                                    "type": "string",
                                    "description": "A custom field that can be used to associate additional reference information with the transaction. FXmicropay will store but otherwise ignore this value e.g. an additional counterparty identifier that can be used by Schemes to represent the counterparty they are interacting with (e.g. a customer reference). Max length(255).",
                                    "example": "cust-field2"
                                },
                                "backoutType": {
                                    "type": "string"
                                }
                            }
                        }
                    }
                }
            },
            "FXMPReportsRequest": {
                "type": "object",
                "properties": {
                    "schemeId": {
                        "type": "integer",
                        "description": "The unique ID assigned to the Scheme by FXmicropay.",
                        "example": "20016"
                    },
                    "reportType": {
                        "type": "string",
                        "description": "Type of report to be fetched, for example: NettingBySubdate\n\nPossible values: NettingBySubdate/Rejected",
                        "example": "NettingBySubdate"
                    },
                    "reportDate": {
                        "type": "string",
                        "format": "date-time",
                        "description": "The date for which report has to be fetched.",
                        "example": "2020-05-08 03:13:15"
                    }
                }
            },
            "QuotedTransactionRequest": {
                "type": "object",
                "properties": {
                    "schemeId": {
                        "type": "integer",
                        "description": "The unique ID assigned to the Scheme by FXmicropay.",
                        "example": "1234"
                    },
                    "transactionType": {
                        "type": "string",
                        "description": "It states the type of transaction whether it is Current, Cancel, Quoted or Refund. We might get different response for different transaction type.",
                        "example": "Quoted"
                    },
                    "transactionRequests": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "segmentId": {
                                    "type": "integer",
                                    "description": "The unique identifier of the segment for which the rate quote was generated.",
                                    "example": "97617"
                                },
                                "counterparty1": {
                                    "type": "string",
                                    "description": "The unique identifier of the segment for which the rate quote was generated.",
                                    "example": "97617"
                                },
                                "counterparty2": {
                                    "type": "string",
                                    "description": "The unique identifier of the segment for which the rate quote was generated.",
                                    "example": "97617"
                                },
                                "customField1": {
                                    "type": "string",
                                    "description": "The unique identifier of the segment for which the rate quote was generated.",
                                    "example": "97617"
                                },
                                "customField2": {
                                    "type": "string",
                                    "description": "The unique identifier of the segment for which the rate quote was generated.",
                                    "example": "97617"
                                },
                                "dealtAmount": {
                                    "type": "integer",
                                    "description": "The unique identifier of the segment for which the rate quote was generated.",
                                    "example": "97617"
                                },
                                "dealtCurrency": {
                                    "type": "string",
                                    "description": "The unique identifier of the segment for which the rate quote was generated.",
                                    "example": "97617"
                                },
                                "rateQuoteId": {
                                    "type": "integer",
                                    "description": "The unique identifier of the segment for which the rate quote was generated.",
                                    "example": "97617"
                                },
                                "schemeBatchId": {
                                    "type": "string",
                                    "description": "The unique identifier of the segment for which the rate quote was generated.",
                                    "example": "97617"
                                },
                                "schemeTransactionId": {
                                    "type": "string",
                                    "description": "The unique identifier of the segment for which the rate quote was generated.",
                                    "example": "97617"
                                },
                                "schemeDateTime": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The unique identifier of the segment for which the rate quote was generated.",
                                    "example": "97617"
                                },
                                "originalTransactionId": {
                                    "type": "string",
                                    "description": "The unique identifier of the segment for which the rate quote was generated.",
                                    "example": "97617"
                                },
                                "originalSchemeTransactionId": {
                                    "type": "string",
                                    "description": "The unique identifier of the segment for which the rate quote was generated.",
                                    "example": "97617"
                                }
                            }
                        }
                    }
                }
            },
            "TransactionRequest": {
                "type": "object",
                "properties": {
                    "schemeId": {
                        "type": "integer",
                        "description": "The unique ID assigned to the Scheme by FXmicropay.",
                        "example": "1234"
                    },
                    "transactionType": {
                        "type": "string",
                        "description": "It states the type of transaction whether it is Current, Cancel, Quoted or Refund. We might get different response for different transaction type.",
                        "example": "Quoted"
                    },
                    "transactionRequests": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "properties": {
                                "segmentId": {
                                    "type": "integer",
                                    "description": "The unique identifier of the segment for which the rate quote was generated.",
                                    "example": "97617"
                                },
                                "counterparty1": {
                                    "type": "string",
                                    "description": "The unique identifier of the segment for which the rate quote was generated.",
                                    "example": "97617"
                                },
                                "counterparty2": {
                                    "type": "string",
                                    "description": "The unique identifier of the segment for which the rate quote was generated.",
                                    "example": "97617"
                                },
                                "customField1": {
                                    "type": "string",
                                    "description": "The unique identifier of the segment for which the rate quote was generated.",
                                    "example": "97617"
                                },
                                "customField2": {
                                    "type": "string",
                                    "description": "The unique identifier of the segment for which the rate quote was generated.",
                                    "example": "97617"
                                },
                                "dealtAmount": {
                                    "type": "integer",
                                    "description": "The unique identifier of the segment for which the rate quote was generated.",
                                    "example": "97617"
                                },
                                "dealtCurrency": {
                                    "type": "string",
                                    "description": "The unique identifier of the segment for which the rate quote was generated.",
                                    "example": "97617"
                                },
                                "schemeBatchId": {
                                    "type": "string",
                                    "description": "The unique identifier of the segment for which the rate quote was generated.",
                                    "example": "97617"
                                },
                                "schemeTransactionId": {
                                    "type": "string",
                                    "description": "The unique identifier of the segment for which the rate quote was generated.",
                                    "example": "97617"
                                },
                                "schemeDateTime": {
                                    "type": "string",
                                    "format": "date-time",
                                    "description": "The unique identifier of the segment for which the rate quote was generated.",
                                    "example": "97617"
                                },
                                "originalTransactionId": {
                                    "type": "string",
                                    "description": "The unique identifier of the segment for which the rate quote was generated.",
                                    "example": "97617"
                                },
                                "originalSchemeTransactionId": {
                                    "type": "string",
                                    "description": "The unique identifier of the segment for which the rate quote was generated.",
                                    "example": "97617"
                                }
                            }
                        }
                    }
                }
            },
            "XMLRPCResponse": {
                "type": "object",
                "properties": {
                    "methodResponse": {
                        "type": "object",
                        "properties": {
                            "params": {
                                "type": "object",
                                "properties": {
                                    "param": {
                                        "type": "object",
                                        "properties": {
                                            "value": {
                                                "type": "object",
                                                "properties": {
                                                    "array": {
                                                        "type": "object",
                                                        "properties": {
                                                            "data": {
                                                                "type": "object",
                                                                "properties": {
                                                                    "value": {
                                                                        "type": "object",
                                                                        "properties": {
                                                                            "struct": {
                                                                                "type": "object",
                                                                                "properties": {
                                                                                    "member": {
                                                                                        "type": "array",
                                                                                        "items": {
                                                                                            "type": "object",
                                                                                            "properties": {
                                                                                                "name": {
                                                                                                    "type": "string"
                                                                                                },
                                                                                                "value": {
                                                                                                    "type": "object",
                                                                                                    "properties": {
                                                                                                        "double": {
                                                                                                            "type": "number"
                                                                                                        },
                                                                                                        "i4": {
                                                                                                            "type": "integer"
                                                                                                        },
                                                                                                        "dateTime.iso8601": {
                                                                                                            "type": "string"
                                                                                                        },
                                                                                                        "boolean": {
                                                                                                            "type": "boolean"
                                                                                                        }
                                                                                                    }
                                                                                                }
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                }
                                                                            }
                                                                        }
                                                                    }
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            },
            "FXMPReportsResponse": {
                "title": "Response of fxmp Reports",
                "type": "array",
                "example": "[ \"BEGIN, NETTINGBYSUBDATE REPORT, 20016, 08 May 20\",\n    \"20016,100128,VikCpty,VikCpty,12-05-2020,EUR,100.2,Payment\",\n    \"20016,100128,VikCpty,VikCpty,12-05-2020,USD,100,Receipt\",\n    \"END, NETTINGBYSUBDATE REPORT, 20016, 08 May 20\"]"
            },
            "RatesResponse": {
                "title": "Response of Rates API",
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "rateQuoteId": {
                            "type": "integer",
                            "description": "A unique ID generated by FXmicropay that identifies the rate quote. Max length(20).",
                            "example": "190114"
                        },
                        "segmentId": {
                            "type": "integer",
                            "description": "The unique identifier of the segment for which the rate quote was generated.",
                            "example": "97617"
                        },
                        "schemeBuyCurrency": {
                            "type": "string",
                            "description": "The scheme buy currency (FXmicropay sell currency), represented by the currency's 3-character ISO code. Max length(3).",
                            "example": "EUR"
                        },
                        "schemeSellCurrency": {
                            "type": "string",
                            "description": "The scheme sell currency (FXmicropay buy currency), represented by the currency's 3-character ISO code. Max length(3).",
                            "example": "EUR"
                        },
                        "tenorDays": {
                            "type": "integer",
                            "description": "The number of business days from the trade date that transactions executed on the rate will settle.",
                            "example": "2"
                        },
                        "valueDate": {
                            "type": "string",
                            "description": "The date in UTC time zone on which transactions executed on the rate quote will settle. This is derived from the business day tenor using the trading calendars for the currencies involved.",
                            "example": "02-02-2023"
                        },
                        "expiryDateTime": {
                            "type": "string",
                            "description": "The date and time in UTC time zone at which point the quote is no longer good for transaction placement. Attempting to use the rate quote after this time will either result in rate escalation to the latest similar rate quote, or rejection if a trading day rollover has occurred.",
                            "example": "02-02-2023"
                        },
                        "unitCurrency": {
                            "type": "integer",
                            "description": "The currency of which a single unit is bought or sold at the price expressed by the rate. For example if a GBPUSD rate is expressed as 1.41, to mean GBP 1 buys or sells USD 1.41, then GBP is the unit currency. Represented by the currency's 3-character ISO code. Max length(3).",
                            "example": "USD"
                        },
                        "rate": {
                            "type": "number",
                            "format": "double",
                            "description": "The price associated with the rate quote. Up to 17 decimal places.",
                            "example": "1.1417266675"
                        },
                        "isExecutable": {
                            "type": "boolean",
                            "description": "A flag indicating whether this rate quote is executable. If true then the rate quote is good for transaction placement with FXmicropay. If false then the rate quote is purely indicative and attempts to place transaction on the rate quote will result in rejections.",
                            "example": "true"
                        },
                        "midRate": {
                            "type": "number",
                            "format": "double",
                            "description": "The mid point of the market bid/offer price at the time your rate was generated - for information purposes(This fields will only be returned for schemes by prearrangement only. Where this prearrangement does not exist, ignore these fields.).",
                            "example": "1.1417266675"
                        }
                    }
                }
            },
            "PaymentsResponse": {
                "title": "Response of Payments API",
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "paymentId": {
                            "description": "A unique identifier, assigned to the payment by FXmicropay.",
                            "type": "integer",
                            "example": 1
                        },
                        "schemePaymentId": {
                            "description": "The unique identifier submitted to FXmicropay on the payment placed. Max length(50).",
                            "type": "string",
                            "example": 16
                        },
                        "paymentCurrency": {
                            "description": "The currency for which the Scheme is specifying a payment amount. The currency is specified using its 3-character ISO code. Max length(3).",
                            "type": "string",
                            "example": "AED"
                        },
                        "paymentAmount": {
                            "description": "The payment amount, in the currency of record. This amount will never be adjusted.",
                            "type": "number",
                            "example": 1
                        },
                        "statusId": {
                            "description": "The status of the transaction. The status falls into two broad ranges i.e. accepted or rejected. See further pages for a detailed listing of transaction status codes.",
                            "type": "integer",
                            "example": 12
                        },
                        "statusMessage": {
                            "description": "Associated message for the Status ID. Max length(300).",
                            "type": "string",
                            "example": "Transaction accepted"
                        },
                        "receivedDateTime": {
                            "description": "Timestamp assigned by FXmicropay indicating the date and time in UTC time zone at which the payment instruction was received by FXmicropay.",
                            "type": "string",
                            "format": "date-time"
                        },
                        "paymentDate": {
                            "description": "The date in UTC time zone on which the payment will be made. Note that this may not match the payment date specified if it was not a valid business day for the currency.",
                            "type": "string",
                            "format": "date-time"
                        }
                    }
                }
            },
            "SettlementAdviceResponse": {
                "title": "Response of Settlement Advice API",
                "type": "array",
                "items": {
                    "type": "object",
                    "properties": {
                        "transactionId": {
                            "description": "A unique identifier, assigned to the transaction by FXmicropay.",
                            "type": "integer",
                            "example": 1
                        },
                        "schemeTransactionId": {
                            "description": "The unique identifier submitted to FXmicropay on the transaction placed. Max length(50).",
                            "type": "string",
                            "example": "ABC"
                        },
                        "receivedDateTime": {
                            "description": "Timestamp assigned by FXmicropay indicating the date and time in UTC time zone at which the payment instruction was received by FXmicropay.",
                            "type": "string",
                            "format": "date-time"
                        },
                        "schemeBuyCurrency": {
                            "description": "Currency bought by the scheme. The currency is specified using its 3-character ISO code. Max length(3).",
                            "type": "string",
                            "example": "AED"
                        },
                        "schemeBuyAmount": {
                            "description": "The amount bought by the Scheme; in the Scheme's buy currency. This will match the amount specified in the transaction if the Scheme buy currency was the currency of record; otherwise, it will represent the actual amount that was settled.",
                            "type": "number",
                            "example": 12
                        },
                        "schemeSellCurrency": {
                            "description": "Currency sold by the Scheme. The currency is specified using its 3-character ISO code. Max length(3).",
                            "type": "string",
                            "example": "USD"
                        },
                        "schemeSellAmount": {
                            "description": "The amount sold by the Scheme; in the Scheme's sell currency. This will match the amount specified in the transaction if the Scheme sell currency was the currency of record; otherwise, it will represent the actual amount that was settled.",
                            "type": "number",
                            "example": 1.01
                        },
                        "statusId": {
                            "description": "The status of the transaction. The status falls into two broad ranges: accepted or rejected. See Transaction Status Codes section for a detailed listing of transaction status codes.",
                            "type": "integer",
                            "example": "12"
                        },
                        "statusMessage": {
                            "description": "Associated message for the Status ID. Max length(300).",
                            "type": "string",
                            "example": "Accepted"
                        },
                        "transactionProfit": {
                            "description": "Total profit made for the transaction. If the settled amount is less than the amount RBS estimated would be settled this is a loss and the transaction profit amount will be negative.",
                            "type": "number",
                            "example": "1.01"
                        },
                        "schemeProfitToPayRBS": {
                            "description": "Profit that scheme should pay to RBS in the event that there was a profit made on the transaction profit.",
                            "type": "number",
                            "example": "22.01"
                        },
                        "rbsProfitToPayScheme": {
                            "description": "Profit that RBS should pay to the scheme in the event that there was a loss made on the transaction profit.",
                            "type": "number",
                            "example": "21.123"
                        },
                        "currencyProfit": {
                            "description": "Currency profit is to be paid in. Max length(3).",
                            "type": "string",
                            "example": "USD"
                        }
                    }
                }
            },
            "QuotedCurrentTransactionResponse": {
                "title": "Quoted/Current Response of Transaction API",
                "type": "object",
                "properties": {
                    "transactionId": {
                        "type": "integer",
                        "description": "A unique identifier, assigned to the transaction by FXmicropay.",
                        "example": "190114"
                    },
                    "schemeTransactionId": {
                        "type": "string",
                        "description": "The unique identifier submitted to FXmicropay on the transaction placed. Max length(50).",
                        "example": "125"
                    },
                    "effectiveRate": {
                        "type": "number",
                        "description": "The rate on which the transaction was executed",
                        "example": "1.234"
                    },
                    "schemeSellCurrency": {
                        "type": "string",
                        "description": "The scheme sell currency (FXmicropay buy currency), represented by the currency's 3-character ISO code. Max length(3).",
                        "example": "EUR"
                    },
                    "schemeBuyCurrency": {
                        "type": "string",
                        "description": "Currency bought by the scheme. The currency is specified using its 3-character ISO code. Max length(3).",
                        "example": "EUR"
                    },
                    "schemeBuyAmount": {
                        "type": "integer",
                        "description": "The amount bought by the Scheme; in the Scheme's buy currency. This will match the amount specified in the transaction if the Scheme buy currency was the currency of record; otherwise, it will represent the corresponding amount as calculated by FXmicropay using the sell amount and effective rate.",
                        "example": "1234"
                    },
                    "schemeSellAmount": {
                        "type": "integer",
                        "description": "The amount sold by the Scheme; in the Scheme's sell currency. This will match the amount specified in the transaction if the Scheme sell currency was the currency of record; otherwise, it will represent the corresponding amount as calculated by FXmicropay using the buy amount and effective rate.",
                        "example": "2345"
                    },
                    "statusCode": {
                        "type": "string",
                        "description": "The status of the transaction. The status falls into two broad ranges: accepted or rejected. See Appendix for a detailed listing of transaction status codes.",
                        "example": "USD"
                    },
                    "statusMessage": {
                        "type": "string",
                        "description": "Associated message for the Status ID. Max length(300).",
                        "example": "message"
                    },
                    "receivedDateTime": {
                        "type": "string",
                        "format": "date-time",
                        "description": "Timestamp assigned by FXmicropay indicating the date and time in UTC time zone at which the transaction was received by FXmicropay.",
                        "example": "02-02-2023"
                    },
                    "tradeType": {
                        "type": "string",
                        "description": "This is field is only returned on transactions that used a non settlement currency. The trade type returned for non settlement transaction is: NSC = Non Settlement Currency transaction.",
                        "example": "test"
                    },
                    "originalTransactionId": {
                        "type": "string",
                        "description": "The original FXmicropay transaction ID against which this refund is taking place. Not require in case of QUOTED or CURRENT transactions.",
                        "example": "02-02-2023"
                    },
                    "originalSchemeTransactionId": {
                        "type": "string",
                        "description": "The original Scheme transaction ID against which this refund is taking place. Max length(50).Not require in case of QUOTED or CURRENT transactions.",
                        "example": "test"
                    }
                }
            },
            "BadRequest": {
                "type": "object",
                "properties": {
                    "description": {
                        "type": "string",
                        "description": "Error description",
                        "example": "Not able to process request."
                    },
                    "status": {
                        "type": "integer",
                        "description": "HTTP status code",
                        "format": "int32",
                        "example": 400
                    },
                    "title": {
                        "type": "string",
                        "description": "Error",
                        "example": "Bad Request"
                    }
                }
            },
            "Forbidden": {
                "type": "object",
                "properties": {
                    "description": {
                        "type": "string",
                        "description": "Error description",
                        "example": "Access to endpoint or resource forbidden."
                    },
                    "status": {
                        "type": "integer",
                        "description": "HTTP status code",
                        "format": "int32",
                        "example": 403
                    },
                    "title": {
                        "type": "string",
                        "description": "Error",
                        "example": "Forbidden"
                    }
                }
            },
            "InternalServer": {
                "type": "object",
                "properties": {
                    "description": {
                        "type": "string",
                        "description": "Error description",
                        "example": "Internal server error occurred."
                    },
                    "status": {
                        "type": "integer",
                        "description": "HTTP status code",
                        "format": "int32",
                        "example": 500
                    },
                    "title": {
                        "type": "string",
                        "description": "Error",
                        "example": "Internal Server Error"
                    }
                }
            },
            "NotAcceptable": {
                "type": "object",
                "properties": {
                    "description": {
                        "type": "string",
                        "description": "Error description",
                        "example": "Request not acceptable."
                    },
                    "status": {
                        "type": "integer",
                        "description": "HTTP status code",
                        "format": "int32",
                        "example": 406
                    },
                    "title": {
                        "type": "string",
                        "description": "Error",
                        "example": "Not Acceptable"
                    }
                }
            },
            "NotFound": {
                "type": "object",
                "properties": {
                    "description": {
                        "type": "string",
                        "description": "Error description",
                        "example": "Request sent for a resource that does not exist."
                    },
                    "status": {
                        "type": "integer",
                        "description": "HTTP status code",
                        "format": "int32",
                        "example": 404
                    },
                    "title": {
                        "type": "string",
                        "description": "Error",
                        "example": "Not Found"
                    }
                }
            },
            "Unauthorized": {
                "type": "object",
                "properties": {
                    "description": {
                        "type": "string",
                        "description": "Error description",
                        "example": "Not authorized to access api."
                    },
                    "status": {
                        "type": "integer",
                        "description": "HTTP status code",
                        "format": "int32",
                        "example": 401
                    },
                    "title": {
                        "type": "string",
                        "description": "Error",
                        "example": "Unauthorized"
                    }
                }
            },
            "UnprocessableEntity": {
                "type": "object",
                "properties": {
                    "description": {
                        "type": "string",
                        "description": "Error description",
                        "example": "Not able to process entity."
                    },
                    "status": {
                        "type": "integer",
                        "description": "HTTP status code",
                        "format": "int32",
                        "example": 422
                    },
                    "title": {
                        "type": "string",
                        "description": "Error",
                        "example": "Unprocessable Entity"
                    }
                }
            },
            "UnsupportedMediaType": {
                "type": "object",
                "properties": {
                    "description": {
                        "type": "string",
                        "description": "Error description",
                        "example": "Request body media type unsupported."
                    },
                    "status": {
                        "type": "integer",
                        "description": "HTTP status code",
                        "format": "int32",
                        "example": "415"
                    },
                    "title": {
                        "type": "string",
                        "description": "Error",
                        "example": "Unsupported Media Type"
                    }
                }
            }
        }
    }
}