{
    "openapi": "3.0.0",
    "info": {
        "title": "FX Rates API Specification",
        "description": "OAS3 for FX Rates API Specification",
        "version": "v1"
    },
    "servers": [
        {
            "url": "https://api.natwest.com/trade-execution/fx/v1",
            "description": "Production"
        },
        {
            "url": "https://ob.sandbox.natwest.com/zerocode/foreign-exchange.org/IndicativeFXRatesAPI/v1",
            "description": "Sandbox"
        }
    ],
    "paths": {
        "/quote/indicative": {
            "get": {
                "summary": "Get Indicative Quote",
                "tags": [
                    "Indicative Quotes"
                ],
                "operationId": "get-indicative-quote",
                "parameters": [
                    {
                        "name": "authorisation",
                        "in": "header",
                        "description": "Authorization Token",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fromCurrency",
                        "in": "query",
                        "description": "ISO code of the currency you want to convert from.",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "GBP"
                    },
                    {
                        "name": "toCurrency",
                        "in": "query",
                        "description": "ISO code of the currency you want to convert to.",
                        "required": true,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "EUR"
                    },
                    {
                        "name": "amount",
                        "in": "query",
                        "description": "This parameter can be used to specify the amount you want to convert. If an amount is not specified, then value of 1 is assumed.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "number"
                        },
                        "example": "1"
                    },
                    {
                        "name": "inverse",
                        "in": "query",
                        "description": "If ‘true’ then the API will also include the inverse rate. An inverse rate is a quote for which the ‘from’ currency and ‘to’ currency are switched. An inverse is calculated by dividing one by the exchange rate. Example: If the exchange rate for $1 USD to GBP = 0.70586041, then the inverse rate would be 1/0.70586041 = 1.4167107.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "false",
                                "true"
                            ],
                            "default": "false"
                        },
                        "example": "true"
                    },
                    {
                        "name": "amountCurrency",
                        "in": "query",
                        "description": "ISO code of the currency for the amount provided in Amount parameter. MANDATORY - if the amount is provided in the Amount parameter. Available values: Either the value provided in fromCurrency or in the toCurrency parameter.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "string"
                        },
                        "example": "GBP"
                    },
                    {
                        "name": "decimalPlaces",
                        "in": "query",
                        "description": "This parameter can be used to specify the number of decimal places included in the output. Example 1 USD to GBP = 0.70586041 with decimalPlaces=3, the output returned will be EUR = 0.706",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "number"
                        },
                        "example": "3"
                    },
                    {
                        "name": "margin",
                        "in": "query",
                        "description": "This parameter can be used to add margin to the spot rate provided by the system. E.g. add margin=2.05 parameter to the endpoint and the API will return our spot rate plus the margin of 2.05 percent.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "number"
                        },
                        "example": "1.05"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/QuoteResponse"
                                },
                                "example": {
                                    "data": {
                                        "amount": 1,
                                        "amountCurrency": "GBP",
                                        "counterAmount": 1.17,
                                        "fromCurrency": "GBP",
                                        "inverseRate": 0.857,
                                        "indicativeRate": 1.167,
                                        "timestamp": "2021-06-22T14:08:27.183Z",
                                        "toCurrency": "EUR"
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Forbidden"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "MethodNotAllowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MethodNotAllowed"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "UnsupportedMediaType",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnsupportedMediaType"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "UnprocessableEntity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnprocessableEntity"
                                }
                            }
                        }
                    },
                    "429": {
                        "description": "Too Many Requests",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TooManyRequests"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "ServerError",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "TPPOAuth2Security": [
                            "indicativefxrate:search"
                        ]
                    }
                ]
            }
        },
        "/quote/indicative/all": {
            "get": {
                "summary": "Get Indicative Batch Quotes",
                "tags": [
                    "Indicative Quotes"
                ],
                "operationId": "get-indicative-batch-quote",
                "parameters": [
                    {
                        "name": "authorisation",
                        "in": "header",
                        "description": "Authorization Token",
                        "required": true,
                        "style": "simple",
                        "explode": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "baseCurrencies",
                        "in": "query",
                        "description": "List of base currenices to be retrieved",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        },
                        "example": "GBP,EUR,USD"
                    },
                    {
                        "name": "margin",
                        "in": "query",
                        "description": "This parameter can be used to add a margin to the spot rate provided by the system. E.g. add margin=2.05 parameter to the endpoint and the API will return our spot rate plus the margin of 2.05 percent.",
                        "required": false,
                        "style": "form",
                        "explode": true,
                        "schema": {
                            "type": "number"
                        },
                        "example": "1.05"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/IndicativeRates"
                                },
                                "example": {
                                    "data": {
                                        "rates": [
                                            {
                                                "fromCurrency": "GBP",
                                                "toCurrency": "USD",
                                                "timestamp": "2022-03-31T10:39:05.777Z",
                                                "rate": 1.8182059
                                            },
                                            {
                                                "fromCurrency": "NOK",
                                                "toCurrency": "CNY",
                                                "timestamp": "2022-03-31T10:39:09.299Z",
                                                "rate": 0.7124628
                                            },
                                            {
                                                "fromCurrency": "GBP",
                                                "toCurrency": "SEK",
                                                "timestamp": "2022-03-31T10:39:10.337Z",
                                                "rate": 12.0432798
                                            },
                                            {
                                                "fromCurrency": "NOK",
                                                "toCurrency": "HRK",
                                                "timestamp": "2022-03-31T10:39:03.982Z",
                                                "rate": 0.7664804
                                            }
                                        ]
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/BadRequest"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Unauthorized"
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Forbidden"
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "NotFound",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NotFound"
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "MethodNotAllowed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MethodNotAllowed"
                                }
                            }
                        }
                    },
                    "415": {
                        "description": "UnsupportedMediaType",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnsupportedMediaType"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "UnprocessableEntity",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/UnprocessableEntity"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "ServerError",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ServerError"
                                }
                            }
                        }
                    }
                },
                "security": [
                    {
                        "TPPOAuth2Security": [
                            "indicativefxrate:search"
                        ]
                    }
                ]
            }
        }
    },
    "components": {
        "securitySchemes": {
            "TPPOAuth2Security": {
                "type": "oauth2",
                "description": "TPP client credential authorisation flow with the ASPSP",
                "flows": {
                    "clientCredentials": {
                        "tokenUrl": "https://ob.sandbox.natwest.com/token",
                        "scopes": {
                            "indicativefxrate:search": "Retrieve indicative fx rate"
                        }
                    }
                }
            }
        },
        "schemas": {
            "QuoteResponse": {
                "title": "Quote Response",
                "required": [
                    "data"
                ],
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/Data"
                    }
                }
            },
            "IndicativeRates": {
                "type": "object",
                "properties": {
                    "data": {
                        "$ref": "#/components/schemas/BatchData"
                    }
                }
            },
            "BatchData": {
                "type": "object",
                "properties": {
                    "rates": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/Rate"
                        }
                    }
                }
            },
            "Rate": {
                "type": "object",
                "properties": {
                    "fromCurrency": {
                        "type": "string",
                        "description": "ISO code of currency supplied - AED, ANG, AUD, BBD, BGN, BHD, BMD, CAD, CHF, CNY, CNH, CZK, DKK, EUR, GBP, HKD HRK, HUF, ILS, INR, JOD, JPY, KES, KWD, MAD, MUR, MXN, NOK, NZD, OMR, PLN, QAR, SAR, SEK, SGD, THB, TND, TRY, USD, ZAR",
                        "nullable": false
                    },
                    "toCurrency": {
                        "type": "string",
                        "description": "ISO code of currency supplied - AED, ANG, AUD, BBD, BGN, BHD, BMD, CAD, CHF, CNY, CNH, CZK, DKK, EUR, GBP, HKD HRK, HUF, ILS, INR, JOD, JPY, KES, KWD, MAD, MUR, MXN, NOK, NZD, OMR, PLN, QAR, SAR, SEK, SGD, THB, TND, TRY, USD, ZAR",
                        "nullable": false
                    },
                    "rate": {
                        "type": "number",
                        "description": "Indicative rate (spot rate) for From-currency to To-currency, rounded to decimal places specified in optional field in request.",
                        "nullable": false
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Timestamp of spot rate supplied by system",
                        "format": "date-time",
                        "nullable": false
                    }
                }
            },
            "Data": {
                "type": "object",
                "properties": {
                    "amount": {
                        "type": "number",
                        "description": "Optional Amount supplied in request"
                    },
                    "amountCurrency": {
                        "type": "string",
                        "description": "Optional ISO code of currency supplied - AED, ANG, AUD, BBD, BGN, BHD, BMD, CAD, CHF, CNY, CNH, CZK, DKK, EUR, GBP, HKD HRK, HUF, ILS, INR, JOD, JPY, KES, KWD, MAD, MUR, MXN, NOK, NZD, OMR, PLN, QAR, SAR, SEK, SGD, THB, TND, TRY, USD, ZAR"
                    },
                    "counterAmount": {
                        "type": "number",
                        "description": "Converted amount in other currency i.e. to currency other than currency provided in Amount-currency"
                    },
                    "fromCurrency": {
                        "type": "string",
                        "description": "ISO code of currency supplied - AED, ANG, AUD, BBD, BGN, BHD, BMD, CAD, CHF, CNY, CNH, CZK, DKK, EUR, GBP, HKD HRK, HUF, ILS, INR, JOD, JPY, KES, KWD, MAD, MUR, MXN, NOK, NZD, OMR, PLN, QAR, SAR, SEK, SGD, THB, TND, TRY, USD, ZAR"
                    },
                    "inverseRate": {
                        "type": "number",
                        "description": "Inverse indicative (spot) rate for To-currency to From-currency if optional parameter Inverse is TRUE in request"
                    },
                    "indicativeRate": {
                        "type": "number",
                        "description": "Indicative rate (spot rate) for From-currency to To-currency, rounded to decimal places specified in optional field in request."
                    },
                    "timestamp": {
                        "type": "string",
                        "description": "Timestamp of spot rate supplied by system",
                        "format": "date-time"
                    },
                    "toCurrency": {
                        "type": "string",
                        "description": "ISO code of currency supplied - AED, ANG, AUD, BBD, BGN, BHD, BMD, CAD, CHF, CNY, CNH, CZK, DKK, EUR, GBP, HKD HRK, HUF, ILS, INR, JOD, JPY, KES, KWD, MAD, MUR, MXN, NOK, NZD, OMR, PLN, QAR, SAR, SEK, SGD, THB, TND, TRY, USD, ZAR"
                    }
                }
            },
            "BadRequest": {
                "description": "Bad Request",
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "description": "HTTP status code",
                        "example": "400"
                    },
                    "title": {
                        "type": "string",
                        "description": "Message describing the error",
                        "example": "Bad Request"
                    },
                    "description": {
                        "type": "string",
                        "description": "Syntactic Error code",
                        "example": "You sent a request we did not understand."
                    }
                }
            },
            "Unauthorized": {
                "description": "Unauthorized",
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "description": "HTTP status code",
                        "example": "401"
                    },
                    "title": {
                        "type": "string",
                        "description": "Message describing the error",
                        "example": "Unauthorized"
                    },
                    "description": {
                        "type": "string",
                        "description": "Syntactic Error code",
                        "example": "Access credentials not present or invalid."
                    }
                }
            },
            "Forbidden": {
                "description": "Forbidden",
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "description": "HTTP status code",
                        "example": "403"
                    },
                    "title": {
                        "type": "string",
                        "description": "Message describing the error",
                        "example": "Forbidden"
                    },
                    "description": {
                        "type": "string",
                        "description": "Syntactic Error code",
                        "example": "Forbidden"
                    }
                }
            },
            "NotFound": {
                "description": "Not Found",
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "description": "HTTP status code",
                        "example": "404"
                    },
                    "title": {
                        "type": "string",
                        "description": "Message describing the error",
                        "example": "Not Found"
                    },
                    "description": {
                        "type": "string",
                        "description": "Syntactic Error code",
                        "example": "You sent a request for a resource that does not exist."
                    }
                }
            },
            "MethodNotAllowed": {
                "description": "Method Not Allowed",
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "description": "HTTP status code",
                        "example": "405"
                    },
                    "title": {
                        "type": "string",
                        "description": "Message describing the error",
                        "example": "Method Not Allowed"
                    },
                    "description": {
                        "type": "string",
                        "description": "Syntactic Error code",
                        "example": "Method Not Allowed"
                    }
                }
            },
            "UnsupportedMediaType": {
                "description": "Unsupported Media Type",
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "description": "HTTP status code",
                        "example": "415"
                    },
                    "title": {
                        "type": "string",
                        "description": "Message describing the error",
                        "example": "Unsupported Media Type"
                    },
                    "description": {
                        "type": "string",
                        "description": "Syntactic Error code",
                        "example": "Unsupported Media Type"
                    }
                }
            },
            "UnprocessableEntity": {
                "description": "Unprocessable Entity",
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "description": "HTTP status code",
                        "example": "422"
                    },
                    "title": {
                        "type": "string",
                        "description": "Message describing the error",
                        "example": "Unprocessable Entity"
                    },
                    "description": {
                        "type": "string",
                        "description": "Syntactic Error code",
                        "example": "Unprocessable Entity"
                    }
                }
            },
            "TooManyRequests": {
                "description": "Too Many Requests",
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "description": "HTTP status code",
                        "example": "429"
                    },
                    "title": {
                        "type": "string",
                        "description": "Message describing the error",
                        "example": "Too Many Requests"
                    },
                    "description": {
                        "type": "string",
                        "description": "Syntactic Error code",
                        "example": "Max number of requests reached."
                    }
                }
            },
            "ServerError": {
                "description": "ServerError",
                "type": "object",
                "properties": {
                    "status": {
                        "type": "string",
                        "description": "HTTP status code",
                        "example": "500"
                    },
                    "title": {
                        "type": "string",
                        "description": "Message describing the error",
                        "example": "Internal Server Error"
                    },
                    "description": {
                        "type": "string",
                        "description": "Syntactic Error code",
                        "example": "Our backend is non-functional, please try again later."
                    }
                }
            }
        }
    }
}