{
    "openapi": "3.0.0",
    "info": {
        "title": "Login With Bank",
        "description": "A flow that enables a customer to use their NatWest Group online banking credentials to authorise or reject a login to third-party applications.",
        "version": "1.0",
        "termsOfService": "https://www.openbanking.org.uk/terms-conditions/",
        "license": {
            "url": "https://www.bankofapis.com/terms-and-conditions",
            "name": "National Westminster Bank Plc Portal Terms and Conditions"
        }
    },
    "servers": [
        {
            "url": "https://secure1.natwest.com/as"
        }
    ],
    "tags": [
        {
            "name": "Login with Bank"
        }
    ],
    "paths": {
        "/authorization.oauth2": {
            "get": {
                "summary": "Initiates the login flow",
                "description": "Sends user information to backend for Authorization and Authentication",
                "tags": [
                    "Login with Bank"
                ],
                "parameters": [
                    {
                        "in": "query",
                        "name": "client_id",
                        "schema": {
                            "type": "string"
                        },
                        "description": "The unique identifier of the client"
                    },
                    {
                        "in": "query",
                        "name": "response_type",
                        "schema": {
                            "type": "string"
                        },
                        "description": "The value must be 'id_token'"
                    },
                    {
                        "in": "query",
                        "name": "nonce",
                        "schema": {
                            "type": "string"
                        },
                        "description": "An alphanumeric unique identifier for the request"
                    },
                    {
                        "in": "query",
                        "name": "request",
                        "schema": {
                            "type": "string"
                        },
                        "description": "A signed JWT, example with claims provided in documentation"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully retrieved the login with Bank.",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "title": "GetAuthorization200Response",
                                    "properties": {
                                        "loginwithbank": {
                                            "title": "Login With Bank",
                                            "type": "object",
                                            "properties": {
                                                "redirectURL": {
                                                    "description": "The redirect URL",
                                                    "type": "string",
                                                    "example": "https://developer.natwest.com/awesome_redirect#id_token={jwtWithClaims}"
                                                }
                                            },
                                            "required": [
                                                "redirectURL"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "loginwithbank"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Bad request",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "500": {
                        "description": "An unknown internal server error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ErrorResponse"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "ErrorResponse": {
                "type": "object",
                "properties": {
                    "code": {
                        "type": "string",
                        "enum": [
                            "VALIDATION",
                            "BAD_REQUEST",
                            "INTERNAL_SERVER_ERROR",
                            "INVALID_LOGIN",
                            "CUSTOMER_NOT_AUTHORIZED",
                            "FAILED_AUTHORISATION",
                            "END_TO_END_ID_SIZE_EXCEEDED"
                        ]
                    },
                    "message": {
                        "type": "string"
                    },
                    "field": {
                        "type": "string"
                    },
                    "channelId": {
                        "type": "string"
                    }
                },
                "required": [
                    "code",
                    "message"
                ]
            }
        },
        "responses": {
            "BadRequest": {
                "description": "Bad Request",
                "headers": {
                    "x-rbs-interaction-id": {
                        "schema": {
                            "type": "string"
                        }
                    },
                    "x-fapi-interaction-id": {
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                }
            },
            "Unauthorized": {
                "description": "Unauthorized"
            },
            "Forbidden": {
                "description": "Forbidden"
            },
            "NotFound": {
                "description": "Not Found"
            },
            "UnprocessableEntity": {
                "description": "Unprocessable Entity"
            },
            "ServerError": {
                "description": "Internal Server Error"
            }
        }
    }
}